.statistics-container{
	width: 538px;
	min-height: 250px;
	overflow: auto;
	overflow-y: hidden;
	float: right;
	color: #2d3956;
	position: relative;
	background-color: #e7e7e7;
	margin: 0 0 3px 0;
	/*padding:3px 6px 3px 6px ;*/

	
	


}


.statistics-container h3{
    padding: 0 0 2px;
    margin: 0;
	width: 150px;

}
.statistics-container .buttons-div{
    margin-bottom: 4px;
}
.statistics-container .myicon{
    background-color: #66718b;
    width: 18px;
    height: 18px;
    padding: 5px 3px 4px 4px;
    cursor: pointer;
}

.statistics-content .myicon:hover{
    background-color: #2d3956;
	
}

.statistics-container .myicon:hover:before{
    /*color: #C0C0C0;*/
}
.statistics-container .icon-graph{
    padding-bottom: 4px;
    padding-left: 3px;
}
.statistics-container  .icon-bar:before {
    content: "\e618";
    font-size: 14px;
}

.statistics-container  .icon-graph:before {
    content: "\e617";
    font-size: 14px;
}

.statistics-container p{
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.statistics-container span{
	font-weight: normal;

}
.statistics-container span .val{
	font-weight: normal;
}


.statistics-container ul{
	margin: 0;
	padding: 2px 0 2px 10px;
	list-style: none;
}

.statistics-container a{
	font-weight: bold;
	color: #2d3956;
}
.statistics-container ul li{
	margin: 0 0 1px 0;
	padding: 0;
	list-style: none;
	line-height: 24px;
}
.statistics-container li span{
	padding: 2px;
	
}
.statistics-container  .selected{
	background: #66718b;
	opacity: 0.7;
	color: white;
}

.statistics-container .data-collections-list li{
	display: inline;
	margin-right: 5px;
}

.stat-preloader{
	/*width: 34px;
	height: 34px;
	position: absolute;
	top: 42px;
	left: 253px;
	*/
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	opacity: 0.9;
	position: absolute;
	top: 0;
}

.stat-preloader img{
	position: absolute;
	top: 100px;
	left: 255px;
	
}



.statistics-content{
	min-height: 320px;
	padding:3px 6px 3px 6px ;
	
}
.barchart-div .axis{
    font: 10px sans-serif;
}

.statistics-content .bar rect {
    fill: #2d3956;
    shape-rendering: crispEdges;
}

.statistics-content .bar text {
    fill: #fff;
}

.statistics-content .axis path, .axis line {
    fill: none;
    stroke: #2d3956;
    shape-rendering: crispEdges;
}
.statistics-content rect{
    cursor: pointer;
}
.statistics-content rect:hover{

    fill: #66718b;
}

