.stories-container{
    width: 526px;
    overflow: auto;
    overflow-y: hidden;
    display: inline-block;
    float: right;
    margin: 0 0 3px 0;
    color: #2d3956;
    min-height: 450px;
    background-color: #e7e7e7;
    padding:3px 6px 3px 6px ;

}

.stories-container h3{
    padding: 0 0 4px;
    margin: 0;
    width: 150px;
}


.stories-container .story-block {
    min-height: 40px;
    overflow: auto;
    margin-top: 3px;
    background-color: #C0C0C0;
    cursor: pointer;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

    border: solid 2px #808080;

}
.stories-container .story-block.active{


}
.stories-container .story-block:hover {
    background-color: #C5C5C5;
}

.stories-container .story-block-menu{
    margin: 2px;
}
.stories-container .story-block .icon-holder{

    background-color: #66718b;
    width: 12px;
    height: 12px;
    display: inline-block;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    margin-right: 0px;
    font-size: 12px;
}

.stories-container .story-block .icon-holder:hover{
    background-color: #2d3956;

}


.stories-container .icon-object:before{
    content: "\e632";
}

.stories-container .icon2-text:before{
    content: "\e619";
}

.stories-container .icon2-remove:before{
    content: "\e60b";
}

.stories-container .icon2-add:before{
    content: "\e60d";
}

.stories-container .object-container{
    margin-left: 2px;
}

.stories-container .text-container{
    margin-left: 2px;
}

.stories-container .title-container{
    margin-left: 2px;
    height: 30px;
}

.stories-container .title-container input[type="text"]{
    height: 18px;
    width: 200px;
}


.stories-container .text-container textarea{
    width: 510px;
    height: 60px;
}

.stories-container .story-block-menu .block-description{
    font-weight: bold;
    font-size: 16px;

}

.stories-container .tab-container{
    height: 20px;

}

.stories-container .tab-container .tab{
    width: 65px;
    display: inline-block;
    background-color: #66718b;
    color: white;
   /* font-weight: bold;*/
    text-align: center;
    margin-right: 2px;
    cursor: pointer;
}
.stories-container .tab-container .tab-footer{
    height: 3px;
    background-color: #2d3956;
}
.stories-container .tab:hover{
    background-color: #2d3956;
}

.stories-container .tab.active{
    background-color: #2d3956;
}
