<div class='statistics-container'>
	<starc-preloader active="active" class="stat-preloader"></starc-preloader>
		<div class="statistics-content" ng-show="!active">
			<h3>Repository statistics</h3>

			<div ng-show="statActive">
				<p>Number of objects: <span class="val">{{ stats.numberOfObjects }}</span></p>
				<p>Object types</p>
				<ul>
					<li ng-repeat="type in stats.types" >
						<span ng-class="{selected: type.selected}">{{type.type}} (<a href="#" ng-click="search('types', type.type)">{{type.number}}</a>)</span>	
					</li>
					
					
				</ul>
				<p>Data collections</p>
				<ul class="data-collections-list">
					<li ng-repeat="collection in stats.collections">
						<span>{{collection.collection}} (<a ng-click="search('collections', collection.collection)" href="#">{{collection.number}}</a>)</span>
					</li>	
				</ul>
				<p>Personal collections</p>
				<ul class="data-collections-list">
					<li ng-repeat="collection in stats.personal">
						<span>{{collection.name}} (<a href="#">{{collection.number}}</a>)</span>
					</li>	
				</ul>
			</div>
			

		</div>
		
	
	

</div>