<div class="annotation-container">
	<h3>Annotate Object</h3>
	<p ng-show="!objectLoaded">Please select object</p>
  <div ng-show="objectLoaded" class="annotation-menu">

    <span ng-class="(annotateMode) ? 'my-icon icon-annotate active' : 'my-icon icon-annotate'" title="Annotate object" ng-click="annotateMode = true;"></span>
    <span ng-class="(!annotateMode) ? 'my-icon icon-list active' : 'my-icon icon-list'" title="Show available annotations" ng-click="annotateMode = false;"></span>
  </div>
	<my-crop imsource="imageSource" imageh="imageh" ng-show="annotateMode"></my-crop>
  <my-list-annotations ng-show="!annotateMode"></my-list-annotations>
	<div ng-show="objectLoaded" class="annotation-form">
		<my-dialog ng-show="dialogActive"  type="dialogType" text="dialogText" ></my-dialog>		
		<p>Annotation title</p>
		<input ng-model="annotation.title" type="text">
		<p>Annotation description</p>
		<textarea  ng-model="annotation.text" ></textarea>
		<a href="#"  ng-click="saveAnnotation()" class="button">Save</a>

	</div>
</div>