<div class="menu-container">
  <div><div ng-transclude></div></div>
	<div class="dropdown-items-container">
		<div class="dropdown-item" ng-repeat="tool in vm.tools">

			<div class="item-name">{{ tool.name }}</div>
			<div class="icon-remove" ng-click="vm.remove(tool.name)"></div>
		</div>
	</div>
</div>

<div class="tools-container">
	<div class="search-container" >
	  <starc-search></starc-search>
	  <div class="search-results">

	    <starc-facets></starc-facets>
	    <starc-pagination ></starc-pagination>
      <starc-search-history ></starc-search-history>
	    <div deckgrid class="deckgrid"  cardTemplate="scripts/deckgrid/template/card.tpl.html"></div>
	  </div>
	</div>
	<div ng-repeat="tool in vm.tools" ng-include="tool.template">
		
	</div>
</div>
