<div class="menu-container">
  <div><div ng-transclude></div></div>
	<div class="dropdown-items-container">
		<div class="dropdown-item" ng-repeat="tool in tools">
			<div class="item-name">{{ tool.name }}</div>
			<div class="icon-remove" ng-click="remove(tool.name)"></div>
		</div>
	</div>
</div>

<div class="tools-container">
	<div class="search-container" >
	  <my-search></my-search>
	  <div class="search-results">
	    <preloader class="search-preloader"></preloader>
	    <my-pagination ></my-pagination>
	    <div deckgrid class="deckgrid"  cardTemplate="scripts/deckgrid/template/card.tpl.html"></div>
	  </div>
	</div>
	<div class="angular-google-map-container" ng-controller="mapController as mapCtrl">
    <!-- <google-map draggable="true"  center="mapCtrl.map.center" zoom="mapCtrl.map.zoom">
      <markers models="mapCtrl.markers" coords="'self'" icon="'icon'" click="'onClicked'" >
       
      </markers> 
    </google-map> -->
    <div ng-repeat="tool in tools" ng-include="tool.template">
		
		</div>
  </div>
	
</div>