<div class="collections-container">
	<div class="collections-menu">
		<h3>Manage collection</h3>
		<span ng-click="saveDialog=!saveDialog; dialogActive=false;" title="Save collecion" class="icon-save"></span>
		<span ng-click="clearCollection()" title="Clear collection" class="icon-clear"></span>
		
		
		<my-dialog ng-show="dialogActive" classes="dialogClasses" type="dialogType" text="dialogText" response="clearCollection(option)"></my-dialog>	
		
		<div ng-show="saveDialog" ng-class="{'collection-dialog save': !dialog2}">
			<p>Collection title</p>
			<input ng-model="collectionTitle" type="text">
			<p>Collection description</p>
			<textarea  ng-model="collectionText" ></textarea>
			<a href="#"  ng-click="saveCollection(true)" class="button">Save</a>
			
		</div>

	</div>
	<div ng-click="itemActive($index)" class="image-container" ng-repeat="item in items">
		<img  ng-src="{{item.imageLocation}}" height="60"/>
		<div ng-show="item.active" class="item-icons">
			<span ng-click="showDetails(item.docID)" class="icon-details"></span>
			<span ng-click="removeItem(item.docID)" class="icon-delete"></span>
		</div>
	
	</div>
</div>